html, body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    background-color: #eef0f4;
    user-select: none;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 320px;
    margin: 30px auto;
}

img {
    width: 150px;
    margin: 0;
}

input {
    color: #432000;
    background-color: #dce1eb;
    border: 0 solid ;
    border-radius: 5px;
    text-align: center;
    font-family: inherit;
    font-size: 20px;
    padding: 10px;
    width: 300px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    color: #fdfdfd;
    background-color: #ac485a;
    border: 0 solid ;
    border-radius: 5px;
    text-align: center;
    font-family: inherit;
    font-size: 20px;
    padding: 10px;
    width: 320px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: color 0.3s;
}

button:hover {
    color: #432000;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;    
}

ul li {
    background-color: #FFFDF8;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 5px;
    flex-grow: 1;
    text-align: center;
    font-family: inherit;
    font-size: 20px;
    color: #432000;
    transition: color 0.3s;
}

ul li:hover {
    background-color: #FFECC7;
    cursor: pointer;
}